* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #e8eff8 !important;
    background-size: 100%;
}

.logo {
    height: 104px;
}

.cform input {
    border-radius: 10px;
    border: solid 2px #c8ddf9;
}

#Login-btn {
    background-color: #020451;
    width: 100%;
    border-radius: 10px;
}